/* ------- Colors --------- */

$colorLightDark : #8a9da9;
$colorDark : #888;
$colorGreen : #34cb7b;
$colorWhite : #fff;
$colorLightGray : #f8f8f8;
$colorOverlayGreen : rgba(0, 103, 48, 0.62);

/* --------- Fonts --------- */

$fontLato : 'Lato', sans-serif;
$fontAveria : 'Averia Serif Libre', cursive;


/* -------- Utility Mixin --------- */
@mixin heading($color,$size){
  color: $color;
  font-size: $size;
}

@mixin basicTransition($sec){
  transition: $sec all ;
  -moz-transition: $sec all;
  -o-transition: $sec all;
  -webkit-transition: $sec all;
}


/*
   ------- Page css starts from here. --------
*/
*{
  margin: 0;
  padding: 0;
}

body {
  font-family : $fontLato;
  color : $colorDark;
  background : $colorWhite;
  font-size : 13px;
  line-height: 1.6;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5 {
  font-family : $fontLato;
}

ul {
  list-style: none;
}


.page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: $colorWhite;
}

.btn {
  border-radius: 3px;
  @include basicTransition(.3s);
  &.btn-success {
    background: $colorGreen;
    border-color: $colorGreen;
  }
}

.button_hexm {
  text-align: center;
  .btn {
    font-size: 16px;
    border-radius: 2px;
  }
}

.section-cm {
  width: 100%;
  height: auto;
  padding: 30px 0;
  .heading {
    text-align: center;
    margin-bottom: 30px;
    .head {
      i {
        color: $colorGreen;
        font-size: 3em;
      }
    }
    .text {
      font-size: 2.5em;
      color: #262627;
    }
  }
}

/*Header Starts from here*/

.main-header {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: $colorLightGray;
  box-shadow: 0px 1px 1px #d4d4d4;
  .logo {
    margin: 10px;
  }

  .nav {
    ul {
      margin:0;
      padding:0;
      li{
        padding: 0;
        a{
          height: 60px;
          line-height: 60px;
          color: $colorGreen;
          display: block;
          padding: 0px 15px;
          text-decoration: none;
          text-transform: uppercase;
          @include basicTransition(.4s);
          &:hover{
            color: $colorLightDark;
          }
        }

        &.ext a {
          background: $colorGreen;
          color: $colorWhite;
          margin: 0;
          padding: 0px 15px;
          &:hover {
            background: $colorLightDark;
            color: $colorWhite;
          }
        }
      }
    }
  }
}

/*Banner starts from here*/

.home-banner {
  margin:0;
  padding: 0;
  width: 100%;
  position: relative;
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $colorOverlayGreen;
    z-index: -1;
  }

  .hero_banner {
    padding: 10em;
    .hero_content {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 80px;
        h1 {
          color: $colorWhite;
          font-size: 4em;
          text-transform: uppercase;
        }
        h4 {
          color: $colorWhite;
        }
        .button_hero {
          margin-top: 3em;
          a.btn {
            @include basicTransition(.3s);
            background-color: $colorGreen;
            border-color: $colorGreen;
            padding: 15px 30px;
            font-size: 15px;
            font-weight: 400;
            &:hover {
              background-color: $colorLightDark;
            }
          }
        }
    }
  }
}

/*Home search bar*/

.home_search {
  background: $colorLightGray;
}

//Home featured wrapper starts from here.
.features_wrapper {
  a.features_box {
    text-decoration: none;
    color: $colorDark;
    background: $colorLightGray;
    /*border: 1px solid $colorLightDark;*/
    display: block;
    box-shadow: 0px 1px 2px #888;
    margin-bottom: 30px;
    @include basicTransition(.3s);

    &:hover {
      transform: translateY(-5px);
    }

    .image_box {

      height: 200px;
      display: block;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100% 100%;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colorOverlayGreen;
        content: " ";
      }
      .dated {
        z-index: 1;
        position: absolute;
        top: 15px;
        left: 15px;
        color: $colorWhite;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      .price {
        right: 10px;
        top: 10px;
        position: absolute;
        z-index: 1;
        padding: 10px;
        background: $colorWhite;
        color: $colorGreen;
        font-weight: 700;
      }
    }

    .fea_description {
      padding: 10px;
      border-left: 1px solid $colorGreen;
      .name {
        color: $colorGreen;
        height: 45px;
        display: table-cell;
        vertical-align: middle;
        h4 {
          margin: 0;
        }
      }
    }

    .footer {
      margin: 0;
      width: 100%;
      background: $colorLightGray;
      border-top: 1px solid #eaeaea;
      padding: 5px;
      ul {
        margin: 0;
        li {
          background: #e1e1e1;
          padding: 0 5px;
          margin-right: 5px;
          border-radius: 3px;
        }
      }
    }
  }
}

.footer {
  &_bottom {
    padding: 30px;
    background: $colorGreen;
    p{
      margin: 0;
      padding: 0;
      color: $colorWhite;
      text-align: center;
    }
  }
}

.login_boxo {
  margin: 20px auto;
  width: 600px;
  .modal_big_header {
    text-align: center;
    .icon {
      font-size: 2.5em;
    }
    .heading {
      font-size: 1.8em;
    }
    .sub_heading {
      font-size: 1.2em;
      color: $colorLightGray;
      font-weight: 300;
    }
  }

  .form-group {
    label {
      display: none;
    }
    .form-control {
      height: 56px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 3px;
    }
  }

  .modal-body {
    padding: 30px 40px;
    .new_user_control {
      margin-top: 10px;
      text-align: center;
      a{
        color: $colorLightDark;
      }
    }
  }
}

.modal-content {
  border-radius: 0;
  border: none;
  .modal-header{
    background: $colorGreen;
    color: $colorWhite;
    border: none;
  }
}

.form_error_ez {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  p {
    background: rgba(241, 54, 54, 0.69);
    border-radius: 3px;
    padding: 5px;
    margin:0;
    color: #fff;
    transition: all .3s;
  }
}

.form-group {
  position: relative;
}

.main_page_content_box {
  padding: 20px 0;
  .page_header_box {
    padding: 15px 0;
    border-bottom:1px solid $colorLightGray;
      .title {
        .ico {
          margin-right: 15px;
        }
        .fa {
          height: 40px;
          width: 40px;
          background: $colorGreen;
          color: $colorLightGray;
          font-size: 18px;
          padding: 0;
          margin: 0;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
        }
        h2 {
          margin: 0;
          padding: 0;
          color: $colorGreen;
        }
      }
  }

  .page_content {
    padding: 15px;
    .profile_image {
      .img_box {
        border: 10px solid $colorLightGray;
        box-shadow: 0px 1px 2px #B6B0B0;
        margin-top: 25px;
        width: 100%;
        height: 250px;
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.invisible-input {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}

.main_page_content_box.event_page {
  .page_header_box {
    background: $colorGreen;
    .title .fa {
      background: $colorLightGray;
      color: $colorGreen;
      height: 35px;
      width: 35px;
      line-height: 35px;
    }
    .title h2 {
      color: $colorLightGray;
      font-size: 23px;
      margin-top: 5px;
    }
  }
}