/* ------- Colors --------- */
/* --------- Fonts --------- */
/* -------- Utility Mixin --------- */
/*
   ------- Page css starts from here. --------
*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  color: #888;
  background: #fff;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 500;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif; }

ul {
  list-style: none; }

.page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff; }

.btn {
  border-radius: 3px;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  .btn.btn-success {
    background: #34cb7b;
    border-color: #34cb7b; }

.button_hexm {
  text-align: center; }
  .button_hexm .btn {
    font-size: 16px;
    border-radius: 2px; }

.section-cm {
  width: 100%;
  height: auto;
  padding: 30px 0; }
  .section-cm .heading {
    text-align: center;
    margin-bottom: 30px; }
    .section-cm .heading .head i {
      color: #34cb7b;
      font-size: 3em; }
    .section-cm .heading .text {
      font-size: 2.5em;
      color: #262627; }

/*Header Starts from here*/
.main-header {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  box-shadow: 0px 1px 1px #d4d4d4; }
  .main-header .logo {
    margin: 10px; }
  .main-header .nav ul {
    margin: 0;
    padding: 0; }
    .main-header .nav ul li {
      padding: 0; }
      .main-header .nav ul li a {
        height: 60px;
        line-height: 60px;
        color: #34cb7b;
        display: block;
        padding: 0px 15px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s all;
        -moz-transition: 0.4s all;
        -o-transition: 0.4s all;
        -webkit-transition: 0.4s all; }
        .main-header .nav ul li a:hover {
          color: #8a9da9; }
      .main-header .nav ul li.ext a {
        background: #34cb7b;
        color: #fff;
        margin: 0;
        padding: 0px 15px; }
        .main-header .nav ul li.ext a:hover {
          background: #8a9da9;
          color: #fff; }

/*Banner starts from here*/
.home-banner {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
  .home-banner .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 48, 0.62);
    z-index: -1; }
  .home-banner .hero_banner {
    padding: 10em; }
    .home-banner .hero_banner .hero_content {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 80px; }
      .home-banner .hero_banner .hero_content h1 {
        color: #fff;
        font-size: 4em;
        text-transform: uppercase; }
      .home-banner .hero_banner .hero_content h4 {
        color: #fff; }
      .home-banner .hero_banner .hero_content .button_hero {
        margin-top: 3em; }
        .home-banner .hero_banner .hero_content .button_hero a.btn {
          transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          -webkit-transition: 0.3s all;
          background-color: #34cb7b;
          border-color: #34cb7b;
          padding: 15px 30px;
          font-size: 15px;
          font-weight: 400; }
          .home-banner .hero_banner .hero_content .button_hero a.btn:hover {
            background-color: #8a9da9; }

/*Home search bar*/
.home_search {
  background: #f8f8f8; }

.features_wrapper a.features_box {
  text-decoration: none;
  color: #888;
  background: #f8f8f8;
  /*border: 1px solid $colorLightDark;*/
  display: block;
  box-shadow: 0px 1px 2px #888;
  margin-bottom: 30px;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  .features_wrapper a.features_box:hover {
    transform: translateY(-5px); }
  .features_wrapper a.features_box .image_box {
    height: 200px;
    display: block;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%; }
    .features_wrapper a.features_box .image_box:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 103, 48, 0.62);
      content: " "; }
    .features_wrapper a.features_box .image_box .dated {
      z-index: 1;
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      font-size: 1.5em;
      text-transform: uppercase; }
    .features_wrapper a.features_box .image_box .price {
      right: 10px;
      top: 10px;
      position: absolute;
      z-index: 1;
      padding: 10px;
      background: #fff;
      color: #34cb7b;
      font-weight: 700; }
  .features_wrapper a.features_box .fea_description {
    padding: 10px;
    border-left: 1px solid #34cb7b; }
    .features_wrapper a.features_box .fea_description .name {
      color: #34cb7b;
      height: 45px;
      display: table-cell;
      vertical-align: middle; }
      .features_wrapper a.features_box .fea_description .name h4 {
        margin: 0; }
  .features_wrapper a.features_box .footer {
    margin: 0;
    width: 100%;
    background: #f8f8f8;
    border-top: 1px solid #eaeaea;
    padding: 5px; }
    .features_wrapper a.features_box .footer ul {
      margin: 0; }
      .features_wrapper a.features_box .footer ul li {
        background: #e1e1e1;
        padding: 0 5px;
        margin-right: 5px;
        border-radius: 3px; }

.footer_bottom {
  padding: 30px;
  background: #34cb7b; }
  .footer_bottom p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center; }

.login_boxo {
  margin: 20px auto;
  width: 600px; }
  .login_boxo .modal_big_header {
    text-align: center; }
    .login_boxo .modal_big_header .icon {
      font-size: 2.5em; }
    .login_boxo .modal_big_header .heading {
      font-size: 1.8em; }
    .login_boxo .modal_big_header .sub_heading {
      font-size: 1.2em;
      color: #f8f8f8;
      font-weight: 300; }
  .login_boxo .form-group label {
    display: none; }
  .login_boxo .form-group .form-control {
    height: 56px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px; }
  .login_boxo .modal-body {
    padding: 30px 40px; }
    .login_boxo .modal-body .new_user_control {
      margin-top: 10px;
      text-align: center; }
      .login_boxo .modal-body .new_user_control a {
        color: #8a9da9; }

.modal-content {
  border-radius: 0;
  border: none; }
  .modal-content .modal-header {
    background: #34cb7b;
    color: #fff;
    border: none; }

.form_error_ez {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0; }
  .form_error_ez p {
    background: rgba(241, 54, 54, 0.69);
    border-radius: 3px;
    padding: 5px;
    margin: 0;
    color: #fff;
    transition: all .3s; }

.form-group {
  position: relative; }

.main_page_content_box {
  padding: 20px 0; }
  .main_page_content_box .page_header_box {
    padding: 15px 0;
    border-bottom: 1px solid #f8f8f8; }
    .main_page_content_box .page_header_box .title .ico {
      margin-right: 15px; }
    .main_page_content_box .page_header_box .title .fa {
      height: 40px;
      width: 40px;
      background: #34cb7b;
      color: #f8f8f8;
      font-size: 18px;
      padding: 0;
      margin: 0;
      line-height: 40px;
      text-align: center;
      border-radius: 50%; }
    .main_page_content_box .page_header_box .title h2 {
      margin: 0;
      padding: 0;
      color: #34cb7b; }
  .main_page_content_box .page_content {
    padding: 15px; }
    .main_page_content_box .page_content .profile_image .img_box {
      border: 10px solid #f8f8f8;
      box-shadow: 0px 1px 2px #B6B0B0;
      margin-top: 25px;
      width: 100%;
      height: 250px;
      display: block; }
    .main_page_content_box .page_content .profile_image img {
      width: 100%;
      height: 100%; }

.invisible-input {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden; }

.main_page_content_box.event_page .page_header_box {
  background: #34cb7b; }
  .main_page_content_box.event_page .page_header_box .title .fa {
    background: #f8f8f8;
    color: #34cb7b;
    height: 35px;
    width: 35px;
    line-height: 35px; }
  .main_page_content_box.event_page .page_header_box .title h2 {
    color: #f8f8f8;
    font-size: 23px;
    margin-top: 5px; }

/*# sourceMappingURL=style.css.map */
